@page "/Account/Forbidden"

<div class="row justify-content-center mt-5">
    <div class="col-md-6 text-center">
        <h1 class="text-danger">403 Forbidden</h1>
        <p>You do not have permission to access this resource.</p>
        <a href="/" class="btn btn-primary">Return to Home</a>
    </div>
</div>

@code {
}
